 @import url('http://fonts.cdnfonts.com/css/segoe-ui-4');
html{
    scroll-behavior: smooth;
}               
body{
    background-color: #505e66;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#ffffff ;
    height: 3680px;
}
ul{
    padding:0;
    margin: 0%;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
h2{
    font-family:'Segoe UI Semibold' ;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
}
/* **************************NAVBAR*********************** */
header{
    height: 630px;
    background-image: url(feuille.png);
    background-size: cover;
}
nav{
    overflow: hidden;
    opacity: 0.8;
    background-color:#444e56 ;
    width: 100%; 
    height: 120px;
   
}

span{
    color:#4bcaff; 
}

li a{
    float: right;
    overflow: hidden;
    padding: 10px 16px;
   
}
#logo{
    font-family: 'Segoe UI', Tahoma;
    font-weight: bolder;
    text-decoration: none;
    float: left;
    font-size: 1.3em;
    color: white;
    margin-left:19%;
    padding: 40px 0 30px 0;
}
#menu{
    margin-right: 250px;
    padding: 50px 10px 70px 0;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: lighter;
}
#contact a:hover,#portfolio a:hover,#features a:hover,#services a:hover,#home a:hover{
    border: solid#49abd5;
    border-width: thin;
    color:#49abd5 ;
}

blockquote{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.9em;
    opacity: 0.7;
    border: solid #38434a;
    border-width: 1px;
    background-color:#38434a ;
    margin: 200px 31% 10px 31% ;
    text-transform: uppercase;
}
quote{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.9em;
    opacity: 0.7;
    border: solid #38434a;
    border-width: 1px;
    background-color:#38434a ;
    margin: 210px 21% 200px 21% ;
}
/* ************************SECTION1********************* */
#Services1{
    background-color: #4bcaff;
    padding: 10px 230px;
    height: 310px;
}
#Services1 p{

}
.Services{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    border-bottom: solid white ;
    border-width: 1px;
    width: 3%;
    margin:50px 0 30px 3%;

}
.grid-container0 {
    display: grid;
    grid-template-columns: 225px 225px 225px 225px;
    padding: 0 2%;
  }
.grid-item0  {
    padding: 0 6%;
    font-size: 10px;
  }
  .grid-item0 img{
    height: 30px;
    margin-bottom: 8px;
  }
  /* **********************************    SECTION2   ************************* */
  #Portfolio1{
    background-color: white;
    height: 660px;
    padding: 10px;
  }
  #Portfolio1 li a{
    color:#626f76;
    font-family: 'Segoe UI';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.7em;
  }
  h1.Portfolio{
    font-family: 'Segoe UI Light';
    color:#626f76 ;
    width: 25%;
    margin: 0%;
    float: left;
    margin-left: 250px;
    border-bottom: solid #515f67 ;
    border-width: 1px;
    width: 3%;
    text-transform: uppercase;
    padding-top: 50px;
  }
  #port{
    margin-right: 250px;
    padding-top: 50px;
  }
  #journal a:hover,#macro a:hover,#portraits a:hover,#panoramas a:hover,#all a:hover{
    border: solid#49abd5;
    border-width: thin;
    color:#49abd5 ;
}
.grid-container1 {
    display: grid;
    grid-template-columns: 210px 210px 210px 210px;
    grid-template-rows: 232px auto;
    padding: 50px 0 60px 0;
    float: left;
    margin-left: 252px;
  }
.grid-item1 img{
    height: 210px;
    width: 190px;
    margin-top: 10px;
  }
.grid-item1 a img:hover{
    transition: ease-in-out 0.5s;
    transform: scale(1.2);

  }
/* *******************************    SECTION 3     ******************************* */
.wrapper {
    display: grid;
    grid-template-columns: 360px 390px;
    grid-column-gap: 100px;
  }
  .features{
    height: 250px;;
  }
  h1.Features{
    text-transform: uppercase;
    font-family: 'Segoe UI';
    font-weight: lighter;
    border-bottom: solid white ;
    border-width: 1px;
    width: 4%;
    margin: 0;
  }
#Features1{
    margin: 90px 250px 0 250px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 350px;
    
}
#Features1 img{
    width: 390px;
    height: 250px;
}
button#Visit{
    background-color:#515f67 ;
    border: solid#374148;
    padding: 5px 10px;
    color:#374148 ;
    cursor: pointer;
}
button#Visit:hover{
    background-color: #374148 ;
    color:#515f67 ;
}
#Features1 p{
    font-size: 11px;
    margin-bottom: 28px;
}
/* *****************************     SECTION 4   ******************** */
#Twitter{
    background-color:#4bcaff ;
    height: 240px;
    padding: 40px 250px 0 250px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#copyrightAndIcons .fa-twitter{
    float: right;
    border-color: #4bcaff;
    font-size: 20px;
}
h1.Twitter{
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    border-bottom: solid white ;
    border-width: 1px;
    width: 4%;
    text-transform: uppercase;
}
article{
    padding-top: 120px;
    font-family: 'Segoe UI';
    font-size: 1.3em;
    font-weight: lighter;
}
/* *******************************     SECTION 5       ******************* */
#Whois{
    background-image: url(tof.png);
    height: 390px;
    width: 1348px;
    padding-top: 10px;
    opacity: 1;

    
}
h1 em{
    font-style: inherit;
    border-bottom: solid white ;
    border-width: 1px;
    width: 4%;
}

h1.Whois{
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    padding: 50px 250px 0 250px;
    margin-bottom: 0;
}
td{
    padding:30px 0 0 250px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.7em;
}
 .Tex{padding: 30px 250px 0 50px;
    width: 400px;
    float: right;
    font-size: 0.7em;
    
}
.fa-twitter, .fa-google-plus, .fa-basketball-ball, .fa-coffee{
    border: solid white;
    padding: 5px;
    margin: 0 10px;
}


#Icons{
    padding: 15px 0px;
}
#Icons .fa-google-plus,#Icons .fa-basketball-ball,#Icons .fa-coffee,#Icons .fa-twitter{
    font-size: 30px;
}
/* ****************************************   SECTION 6   ******************** */
#Testimonial{
    background-color: white;
    padding: 10px 250px 0 250px;
    height: 290px;
}
h1.Testimonial{
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    color: #515f67; 
    border-bottom: solid #515f67 ;
    border-width: 1px;
    width: 4%;
}
iframe{
    margin: 0;
    padding: 0;
    
}
h4{
    color: #515f67;
    font-family: 'Bitter';
    font-weight: bold;
    float: right;
    font-size: 2em;
}
#Testimonial p{
  color: #515f67;
  padding-top: 80px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter; 
  font-size: 1.2em;
}
h5{color: #4bcaff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 0.5em;
}
/* *************************     SECTION 7     *************************** */
#Contact1{
    background-image: url(cont.png);
    padding: 10px 250px 0 250px;
    height: 572px;
    
}
aside.grid-container{
    display: grid;
    grid-template-columns: 400px 400px;
    padding:10px 200px 0 0px;
  }
aside.grid-item  {
    padding: 20px 0;
    font-size: 10px;
  }

label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 0.7em;
    
}
.Name, .Email{
    border: solid white;
    border-width: thin;
    width: 330px;
}
label[for=email], label[for=fullname] {
    font-size: 1em;
    font-weight: bolder;
}
.grid-item p{
    font-size: 12px;
}
input{
    width: 99%;
    height: 50px;
    background: transparent;
    border: solid white;
    border: thin;
    color: white; 
}
textarea{
    width: 820px;
    border: solid white ;
    border-width: thin;
    background: transparent;
    color: white;
}
h1.Contact{
    float: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    color: white; 
    border-bottom: solid white ;
    border-width: 1px;
    width: 4%;
    margin-right: 94%;
}
 button#Message {
    background-color:#4bcaff ;
    margin: 20px 0;
    width: 200px;
    border: solid#4bcaff;
}
button#Message:hover{
    transform: scale(1.2);
    transition: ease-in-out 0.5s;

}
/* ***********************      footer    ************************** */
footer{
    height: 100px;
    background:#353f47;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
#menu1 li a{
    border-right: solid #515f67;
    border-width: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #515f67;
}
li#contact1 a{
    border-right: solid#353f47;
    border-width: 2px;

}
#menu1{
    float: left;
    margin-left: 220px;
    padding-top: 30px;
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: lighter;
    display: flex;
}
li#année a{
    padding-top: 38px;
    color:#515f67;
    font-weight: bold;
    margin-right: 220px;
    font-size: 0.8em;
}
#menu1 li a:hover{
    color: #4bcaff;
}
#année a:hover{
    color: #4bcaff;
}
